<!DOCTYPE html>
<html>
    <head>
        <title>Ruby on Rails Tutorial Sample App | Help</title>
    </head>
    <body>
        <h1>Sample App</h1>
        <p>
        This is the Help page for webapp.
        </p>
    </body>
</html>